$fonts-text: Tahoma, Helvetica, Arial, sans-serif;
$font-headings: "Times New Roman", serif;
$asphalt: #34495e;
$clouds: #ecf0f1;
// Setting a default vlaue, this can be overwritten anywhere in our scss.
$text-font-size: 18px !default;
/* Setting a variable, we will use this variable with interpolation.
 Meaning in combination with other information. */
$nav-border-side: right;
